.jumbotron {
    background-color: #1DCACE;
    color: black;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
}

a {
    color: black;
}

footer {
    background-color: lightgray;
    padding: 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.container {
    margin-top: 50px;
  
}


h2 {
    text-align: left;
    font-family: fantasy;
}



.card-comida{

    margin-right: 2px;
    margin-bottom: 10px;

}